.org_container {
   padding-top: 20px;
   display: flex;
   justify-self: flex-start;
   align-items: center;
   flex-direction: column;
   min-height: 100%;
   width: 100%;
}

.exactt-logo-org {
   width: 150px;
}

.bottom-section {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.logoSelection {
   border: 2px slategrey dashed;
   margin-top: 20px;
   padding: 10px;
   text-align: center;
}
